   <div class="main-content">
    <header>
    <div class="container-fluid px-lg-5">
                    <!-- nav -->
                    <nav class="py-4 d-lg-flex">
                        <div id="logo">
                            <h1> <a href="#"><span class="fa fa-align-center" aria-hidden="true"></span>Foodizone</a></h1>
                        </div>
                        <ul class="menu mt-2 ml-auto">
                            <li class="active"><a href="#">Home</a></li>
                            <li ><a href="#" class="scroll">About</a></li>
                            <li>
                               
                               <a href="#" class="scroll">Sell <span class="fa fa-angle-down"></span></a>
                                <input type="checbox" id="drop" />
                                 <ul class="inner-ul">
                                    <li> <a class="scroll" href="#"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                                </ul>
                                </li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                                <a href="#">Account<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul class="inner-ul">
                                    <li> <a class="scroll" href="#"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                                    <li><a href="#" class="scroll"><i class="fa-solid fa-user-plus"></i> Sign up</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="scroll">Contact</a></li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
   </div>