<body class="main-body">
    <div class="top-content">
        <div class="mb-3">
            <h2 class="text-white">Discover the best food and drinks in your area</h2>
        </div>
    <div class="search-bar">
        <input class="search-bar" type="search" placeholder="Search here...">
    </div>
    </div>
</body>
