
<div class="order-success">
    <div>
      <span style="font-size: 23px; padding-left: 12rem;"> <i class="fa-solid fa-square-check text-success fa-5x" style="margin-bottom: 1rem;"></i></span>
    </div>
    <div class="text-lg text-dark align-items-center" style="padding-left: 9rem; margin-bottom: 1rem;">
        Thank you for your order
    </div>
    <div class="text-sm">
         Your details have been saved. Someone from our team will reach out to you soon
    </div>
    <div style="margin-left: 176px;">
        <a href="/orders" class="btn btn-success">View orders</a>
    </div>

</div>
<style>
    .user-header{
        margin-bottom: 50.063rem;
    }
</style>