<div class="section">
   <div class="container container-top">
      <div class="contents">
         <div class="image">
            <img class="shop-image" src="/images/banner1.jpg" alt="">
         </div>
         <div class="shop-details">
            <h2>Shop Name Helo cool caker</h2>
            <p>Shop location</p>
            <p>location</p>
         </div>
      </div>
   </div>

   <div class="container container-center">
      <div class="menu-content">
         <div class="product">
            <div class="inner-product">
               <div class="details">
               <h2 class="product-name">iscold vanilla icecream choco</h2>
               <p>₹ 113.5</p>
               </div>
               <div>
                  <img class="product-image" src="/images/banner1.jpg" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<style>
   /* Code changes */
   body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      min-height: 60rem;
   }

   header {
      margin-top: 1rem;
   }


   /* New designs */
   .section {
      width: 100%;
      height: 52rem;
   }

   .container-main {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      height: 50rem;
      width: 100%
   }

   .container-top {
      min-width: 375px;
      min-height: 256px;
      background-color: #171a29;
      display: flex;
      max-width: 100%;
      justify-content: center;
   }

   .contents {
      display: flex;
      margin: 3em 21em;
      width: 100%;
      align-items: center;
   }

   .shop-image {
      max-width: 273px;
      min-width: 87px;
   }

   .shop-details {
      min-width: 137px;
   }

   .top-contents {
      min-width: 968px;
   }

   .image {
      display: flex;
      align-items: center;
      margin: 0 1em;
   }

   .container-center {
      border: solid 1px magenta;
      height: 600px;
      display: flex;
   }

   .menu-content {
      width: 60%;
      border-left: solid 1px magenta;
      height: auto;
      margin: 0 auto;
      display: flex;
   }

   .product {
      width: 100%;
      height: 200px;
      border: solid 1px magenta;
   }

   .inner-product {
      display: flex;
      width: 80%;
      border: solid 1px magenta;
      height: 171px;
      margin: 0 auto;
      max-height: 200px;
      justify-content: space-between;
   }
   .details{
      margin: 1em;
   }

   /*Font styles */
   h2 {
      font-weight: 300;
      font-size: 32px;
      max-width: 538px;
   }
   .product-name{
      font-size: 1.22rem;
    font-weight: inherit;
    color: #3e4152;
    word-break: break-word;
   }
   .product-image{
      margin: 1em;
   }
</style>